<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1643324/pexels-photo-1643324.jpeg?cs=srgb&dl=beverages-cold-color-drinks-1643324.jpg&fm=jpg);">
  <div class="container">
    <h1>Ms Mixalot <strong> a cocktail</strong> app <strong>for friends</strong>!</h1>
    <p>Socialize with people around the world - cheers!</p>
  </div>
</div>
