<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1586529/pexels-photo-1586529.jpeg?cs=srgb&dl=antioxidant-beverage-bottle-1586529.jpg&fm=jpg)">
    <%= cocktail.name %>
  </div>
    <% end %>
</div>
