.navbar-lewagon {
  justify-content: space-between;
  background: #D68C90;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h1 {
  color: white;
}

a.nav-link {
  color: white !important;
}


